@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: lightsteelblue;
}

div {
  display: block;
  text-align: center;
}

.container {
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: 20px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.answerSection {
  align-self: stretch;
}

input {
  /* caret-color: transparent; */
  display: block;
  justify-content: center;
}